<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn VueJs</title>
</head>
<body>
   
    
       <div id="app-root">
     <form action="" @submit.prevent="sendData">
       
        <!-- <label for="username"> your name</label>
        <input type="text" v-model="name" name="username"  />

        <label for="email"> your email</label>
        <input type="text" v-model="email" name="email"  />

        <label for="password">password</label>
        <input type="password" v-model="password" name="password" /> -->


        <label for="username"> your name</label>
        <input type="text" v-model="newUser.name" name="username"  />

        <label for="email"> your email</label>
        <input type="text" v-model="newUser.email" name="email"  />

        <label for="password">password</label>
        <input type="password" v-model="newUser.password" name="password" />

        <input type="submit"/>

        
        </form>
    
       </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js"></script>
</body>
</html>